<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
             <img src="{{user.image}}" class="img-thumbnail">
        </div> 
        <div class="col-sm-4">
            <h5 class="mt-0">{{user.firstname}}</h5>
        </div>
    </div>
</div>
